.task {
  width: 100%;
  background: #F8FFFE;
  border: 1px solid #5E1B89;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.task p {
  font-size: 14px;
  line-height: 19px;
  color: #5E1B89;
  margin-right: auto;
}

p.textCompleted {
  color: #808080;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #5E1B89;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #5E1B89;
}

.deleteButton {
  background: none;
  border: none;
  color: #808080;
}

.tasks {
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header p {
  margin: 0;
}

.textPurple {
  color: #5E1B89;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkContainer {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
}

.checkContainer svg {
  color: #5E1B89;
}

.taskDetails {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.dueDetails {
  display: flex;
  gap: 10px;
  color: #666;
  font-size: 0.9em;
}

.textCompleted {
  text-decoration: line-through;
  color: #ccc;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #F4512C;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.actionButton {
  background-color: #5E1B89;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #5E1B89;
}

.actionButton:active {
  background-color: #5E1B89;
}

.taskDue {
  background-color: #ffcccc;
  border-left: 5px solid #ff0000;
}

.taskDetails {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.dueDetails {
  display: flex;
  gap: 10px;
  color: #666;
  font-size: 0.9em;
}

.editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editForm input {
  padding: 5px;
  font-size: 1em;
}
.edit_task {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.editButton {
  margin-right: 8px;
  padding-right: 0;
  padding-left: 10px;
  background-color: transparent;
  border: none;
  color: #5E1B89;
  cursor: pointer;
  font-size: 1.1em;
}

.missed {
  color: #ff0000; /* Red color for missed tasks */
}

.missedLabel {
  background-color: #ffcccc;
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 10px;
  color: #ff0000;
  font-weight: bold;
}

.saveButton {
  background-color: #5E1B89;
  color: #F8FFFE;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton {
  background-color: #F4512C;
  color: #F8FFFE;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
