.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: #5E1B89;
  font-size: 14px;
  font-weight: 700;
}

.textPurple {
  color: #5E1B89 !important;
}

.header span {
  background: #F4512C;
  color: #F8FFFE;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.actionButton {
  background-color: #5E1B89;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actionButton:hover {
  background-color: #5E1B89;
}

.actionButton:active {
  background-color: #5E1B89;
}

.progressBar {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  height: 20px;
}

.progress {
  background-color: #F4512C;
  height: 100%;
  transition: width 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.progressText {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  margin-left: 40px;
}

.noTasksMessage {
  text-align: center;
  font-size: 1.2em;
  color: #666;
  margin-top: 20px;
}